<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>www.movemindmap.com</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>movemindmap</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>strava</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show local weather information</string>
    <key>WeatherKitUsageDescription</key>
    <string>We use WeatherKit to provide accurate weather information</string>
</dict>
</plist>
